
@{
    ViewBag.Title = "Cart";
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <title>Checkout || 99eStuff</title>
</head>

<body>

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(../../Content/img/cart/cart.png) no-repeat scroll center center;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Thanks for your purchase!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <div class="cart-main-area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="row tab-content">
                        <div class="col-md-6  ml-auto mr-auto">
                            <div class="htc__login__btn mt--30">
                                <a href="@Url.Action("Shop","Home")">Cumpara iar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-main-area end -->

</body>

</html>